In [66]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
import wget
import random

In [67]:
def download_extract():
    try:
        remote_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00235/household_power_consumption.zip'
        wget.download(remote_url)
        File = zipfile.ZipFile('household_power_consumption.zip')
        File.extractall()
        File.close()
    except:
        print("Something went wrong")
    else:
        print("Nothing went wrong")

download_extract()

read_file = pd.read_csv (r'household_power_consumption.txt')
read_file.to_csv(r'household_power_consumption.csv', index=None)

Nothing went wrong

In [68]:
data = pd.read_csv('household_power_consumption.csv', sep=';', low_memory=False)
if data.isnull().values.any():
    missing_values = data.isnull().values.sum()
    print(f'Number of missing values: {missing_values}')
    data = data.dropna()
else:
    print('Our Dataset has no missing values.')

Number of missing values: 25979

In [69]:
convert_dict = {
    'Date': 'str', 
    'Time': 'str',
    'Global_active_power': 'float',
    'Global_reactive_power': 'float',
    'Voltage': 'float',
    'Global_intensity': 'float',
    'Sub_metering_1': 'float',
    'Sub_metering_2': 'float',
    'Sub_metering_3': 'float'
}
data = data.astype(convert_dict)
data.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [70]:
def first_task():
    args = data[(data.Global_active_power > 5.0)]
    print(f"A number of all households in which the total active power consumption exceeds 5 kW: {len(args)}")
    return args

def second_task():
    args = data[(data.Voltage > 235.0)]
    print(f"A number of all households where the voltage exceeds 235 V: {len(args)}")
    return args

def third_task():
    args = data[(data.Global_intensity >= 19) & (data.Global_intensity <= 20) & (data.Sub_metering_2 > data.Sub_metering_3)]
    print(f"A number of all households in which the current strength lies within the range of 19-20 A and... : {len(args)}")
    return args

def fourth_task():
    args = random.sample(range(len(data)), 500000)
    args.sort()
    df = data.iloc[args]
    result = pd.DataFrame.from_dict({
    'Sub_metering_1': [df['Sub_metering_1'].mean()], 
    'Sub_metering_2': [df['Sub_metering_2'].mean()], 
    'Sub_metering_3': [df['Sub_metering_3'].mean()]
    })
    return result

def fifth_task():
    args = data[(data.Time >= '18:00:00') & (data.Global_active_power > 6.0) & (data.Sub_metering_2 > data.Sub_metering_1) & (data.Sub_metering_2 > data.Sub_metering_3)]
    return args[:int(len(args)/2)], args[int(len(args)/2):]

In [71]:
first_task()

A number of all households in which the total active power consumption exceeds 5 kW: 17547

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,22/11/2010,18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,22/11/2010,18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,24/11/2010,07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,24/11/2010,07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,25/11/2010,07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

In [72]:
second_task()

A number of all households where the voltage exceeds 235 V: 1952491

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,16/12/2006,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [73]:
third_task()

A number of all households in which the current strength lies within the range of 19-20 A and... : 2509

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,16/12/2006,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,17/12/2006,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,17/12/2006,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,17/12/2006,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,17/12/2006,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...
2071589,24/11/2010,07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,24/11/2010,07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,24/11/2010,07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,24/11/2010,07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,24/11/2010,07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

In [74]:
fourth_task()

   Sub_metering_1  Sub_metering_2  Sub_metering_3
0         1.13091        1.290328        6.464158

In [75]:
args_first_part, args_second_part = fifth_task()
args_first_part.iloc[[i for i in range(0, len(args_first_part), 3)]]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,16/12/2006,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,16/12/2006,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17494,28/12/2006,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17498,28/12/2006,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17501,28/12/2006,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0
...,...,...,...,...,...,...,...,...,...
666904,23/3/2008,20:28:00,7.268,0.192,233.61,31.0,0.0,72.0,17.0
666907,23/3/2008,20:31:00,6.958,0.188,233.62,29.8,0.0,73.0,17.0
666910,23/3/2008,20:34:00,6.668,0.180,233.65,28.4,0.0,73.0,17.0
695575,12/4/2008,18:19:00,6.568,0.394,237.70,27.6,34.0,36.0,18.0
707257,20/4/2008,21:01:00,8.084,0.288,232.56,34.6,1.0,71.0,18.0

In [76]:
args_second_part.iloc[[i for i in range(0, len(args_second_part), 4)]]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
707259,20/4/2008,21:03:00,7.798,0.328,231.76,33.6,1.0,71.0,17.0
707263,20/4/2008,21:07:00,7.452,0.346,232.31,32.2,1.0,68.0,17.0
707267,20/4/2008,21:11:00,6.436,0.382,232.10,27.6,1.0,37.0,17.0
707271,20/4/2008,21:15:00,6.200,0.216,232.51,26.6,1.0,37.0,17.0
747546,18/5/2008,20:30:00,6.760,0.236,234.90,29.8,2.0,52.0,28.0
...,...,...,...,...,...,...,...,...,...
2066466,20/11/2010,18:30:00,6.620,0.314,229.00,29.2,18.0,34.0,16.0
2066470,20/11/2010,18:34:00,6.266,0.360,229.82,27.6,14.0,35.0,16.0
2066474,20/11/2010,18:38:00,6.302,0.376,229.65,27.8,15.0,34.0,17.0
2066478,20/11/2010,18:42:00,6.238,0.344,229.37,27.6,14.0,35.0,16.0
2066482,20/11/2010,18:46:00,6.438,0.308,229.26,28.4,13.0,39.0,16.0